.footer {
  width: 1280px;
  height: 34px;
  background-color: #2eb738;
  position: absolute;
  bottom: 0;
  left: 0;
  p {
    font-size: 16px;
    color: #f0f0f0;
    line-height: 34px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 85px;
    text-align: end;
  }
}
